@charset "UTF-8";
#container{
	width: 600px;
	margin: 0 auto;
	
}
#desc{
	float:left;
}
#prod-pic{
	float:left;
	margin: 20px 20px auto 10px;
	padding: 0;
}
#small-pic{
	margin-top: 20px;
}
.small{
	float : left;
	width: 60px;
	height: 60px;
	margin-right: 10px;
}
#desc ul{
	list-style-type: none;
	font-size: 1rem;
	line-height: 1.8;
}
.bluetext{
	color:blue;
	font-weight: bold;
}
#detail{
	display:none;
	padding: 20px;
	border: 1px solid red;
}
#view{
	text-decoration: none;
	font-size: 0.9em;
	color: blue;
	margin-left: 40px;
}
button{
	padding: 10px 80px;
	margin : 10px;
}
