@charset "UTF-8";
#container{
	width: 600px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
h1{
	width: 100%;
}
#prod-pic{
	margin: 20px 20px auto 10px;
	padding: 0;
	width:40%;
	display: flex;
	flex-wrap: wrap;
}
.small{
	width: 60px;
	height: 60px;
	margin-right: 10px;
}
#detail{
	display:none;
	padding: 20px;
}
#desc ul{
	list-style-type: none;
	font-size: 1rem;
	line-height: 1.8;
}
.bluetext{
	color:blue;
	font-weight: bold;
}
#view{
	text-decoration: none;
	font-size: 0.9em;
	color: blue;
	margin-left: 40px;
}
button{
	padding: 10px 80px;
	margin : 10px;
}
